.home {
    background: #fff;
    padding: 0 16px;
    text-align: center;
    .wrap {
        display: flex;
        justify-content: center;
        padding: 48px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .home-pic {
        width: 480px;
        height: 320px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: -120px;
    }
    .home-intro {
        margin-left: 240px;
    }
}
